---
import "~/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="google-site-verification" content="Y6iSfBeQKtrtN1jqpBca_dZuaK2SiDjt8jSFFboWOaE" />
<meta name="yandex-verification" content="8d7f5d259982762a" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <div class="flex flex-col items-center px-2">
      <div class="max-w-7xl w-full min-h-screen">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
